* {
  box-sizing: border-box;
}

body {
  /* setting the base font size to 27.2px */
  color: white;
  padding: 1em;
  margin: 0 auto;
  font-size: 1.7em;
  text-align: center;
  font-family: "Ranga", cursive;
  background-color: rgb(13, 12, 28);
}

#instruction {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

form {
  min-height: 100px;
}

label[for="number-input"] {
  display: block;
  margin-bottom: 0.2em;
}

input {
  font: inherit;
  text-align: center;
  padding: 0.2em 0.65em;
}

.inputs-wrapper {
  transition: opacity 0.3s;
}

.hidden {
  opacity: 0;
}

#number-input {
  color: rgb(13, 12, 28);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

[type="submit"] {
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background: linear-gradient(rgb(52, 96, 141), rgb(0, 50, 90));
}

[type="reset"] {
  display: none;
  color: white;
  border-radius: 1em;
  transition: opacity 0.3s;
  background: linear-gradient(rgb(52, 96, 141), rgb(0, 50, 90));
}

#status-message {
  padding: 1em 1.2em;
  transition: all 1s;
  border-radius: 4em;
  display: inline-block;
  color: rgb(13, 12, 28);
  background-color: white;
}

#status-message.lose {
  color: white;
  animation: lose 1s infinite alternate;
  background: linear-gradient(rgb(255, 77, 77), rgb(179, 0, 0));
}

#status-message.win {
  color: white;
  animation: win 1s infinite alternate;
  background: linear-gradient(rgb(77, 255, 77), rgb(0, 179, 0));
}

@keyframes lose {
  to {
    box-shadow: 0 0 2em rgb(255, 0, 0);
  }
}

@keyframes win {
  to {
    box-shadow: 0 0 2em rgb(0, 255, 0);
  }
}

#guess-history {
  /* cancel the left padding on ul setted by user agent style sheet */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

#guess-history li {
  /* 70px + 16px gap / base font of 27.2px = 3.17em rounded up */
  display: flex;
  min-width: 3.2em;
  min-height: 3.2em;
}

.ball {
  width: 80%;
  height: 80%;
  display: flex;
  margin-top: auto;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  color: rgb(13, 12, 28);
  background-color: white;
}

.ball.win {
  color: white;
  background: linear-gradient(rgb(77, 255, 77), rgb(0, 179, 0));
  animation: win 1s infinite alternate, bounce 1s infinite alternate;
}

.bounce {
  position: relative;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    bottom: 0;
    width: 80%;
    height: 70%;
  }

  33% {
    height: 80%;
  }

  100% {
    width: 80%;
    height: 80%;
    bottom: 1em;
  }
}